<!-- Create an array of strings and sort it using the OrderBy Filter.
 -->
<!DOCTYPE html>
<html>
<head>
	<title>
		Filters Q3
	</title> 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

	<script type="text/javascript">
		var mod=angular.module("myap",[]);
		mod.controller("c1",function($scope){
			$scope.name="Mesut Ozil";
			$scope.num = 3.1415986;
			$scope.gunners = ["Ozil", "Sanchez", "Xhaka", "Wilshere", "Cazorla"];
		});
	</script>
</head>
<body>

	<div ng-app="myap" ng-controller="c1">
		<p><b>Name:</b> {{ name | uppercase }}</p>
		<p><b>Number:</b> {{ num | number : 2 }}</p>
		<p><b> Array before sorting : </b></p>
			<li ng-repeat="x in gunners "> {{x}} </li>
		</ul>
		<p> <b>Array after sorting in ascending order:</b> </p>
		<ul>
			<li ng-repeat="x in gunners | orderBy"> {{x}} </li>
		</ul>
		<p> <b>Array after sorting in descending order:</b> </p>
		<ul>
			<li ng-repeat="x in gunners | orderBy:'-'"> {{x}} </li>
		</ul>

	</div>

</body>
</html>
